<%= form_for(@task) do |f|%>
    <h1>Create a task!</h1>
    <%= f.label :title%>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
<% end %>